
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bg-prymare{
  background-image: url('../Assets/Hero-bg.png');
  
  
}
.banner{
  display: flex;
  margin: 0 150px;
  justify-content: space-between;
  align-items: center;
}
.text-banner{
  color: #4E47FF;
  font-weight: 900;
  font-size: 34px;
}
.text-button{
  max-width: 132%;
  
  background-color: #4E47FF;
  color: #ffff;
  font-size: 16px;
  font-weight:bold;
  padding: 12px 36px;
  border-radius: 5px;
  border: none;
}
.text-heading{
 text-align: center;
 max-width: 904px;
 padding: 158px 268px 152px;
  

}
.text-prymare{
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 37px;
}

img{
  height: 328px;
  width: 403px;
  border-radius: 45px;
}
.text-dicrepiton{
  display: flex;
  justify-content: space-between;
  margin: 116px 159px 0px 141px;
  
}
.font-prymare{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}
.peagip{
  font-size: 24px;
  color: #252432;
}

.text-div{
  max-width: 517px;
}
 .maine-contaner{
  text-align: center;
   margin:116px 159px 0px 141px ; 
  background-color: #CAC8F1;
  max-width: 1140px;
 max-height: 306px;
 border-radius: 10px;
}
.hader{
  font-weight: bold;
  font-style: 50px;
  color: #252432;
 padding-bottom: ;
 
}
.container{
  display: flex;
  gap: 158px;

 
 
 
  
}  
.container{
  padding:5px 142px 50px 142px ;
}
.row{
  font-size: 80px;
  font-weight: bold; 
  max-width: 174px;
  max-height: 5px;
  color: #3F38A1;
}
.column{
  font-size: 20px;
  color: #000000;
}
 ul {
width: 1px;
height: 1px;
display: flex;
}
.ster{
  width: 20px;
  height: 20px;
  margin-right: 3px;
} 
.clint{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.first-hading{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  
}
.conter-segint{

margin:137px 149px 129px 151px;
width: 1140px;
height: 350px;

}
.segint-contaner{
  display: flex;
  gap: 20px;
}
.contener-in{
  display: flex;
  align-items: center;
}
.first-contener{
  width: 366px;
  height: 243px;
  background-color: whitesmoke;
  padding: 24px;
  border-radius: 10px;

}
.font-sije{
  font-weight: bolder;
  font-size: 24px;
  color: #1E1E1E;
}
.pading{
  font-size: 16px;
  color: #303030;
}
.deat{
color: #B3B3B3;
}
.name{
color: #757575;
}